{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <img class="col-md-4 col-xs-6" src="{{ asset('build/images/schild.png') }}"/>
            <img class="col-md-4 col-xs-6" src="{{ asset('build/images/schild.png') }}"/>
            <img class="col-md-4 col-xs-6" src="{{ asset('build/images/schild.png') }}"/>
            <img class="col-md-4 col-xs-6" src="{{ asset('build/images/schild.png') }}"/>
            <img class="col-md-4 col-xs-6" src="{{ asset('build/images/schild.png') }}"/>
            <img class="col-md-4 col-xs-6" src="{{ asset('build/images/schild.png') }}"/>
        </div>

    </div>
{% endblock %}
