
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <h6>Over Ons</h6>
                <p class="text-justify">
                    Wij zijn een vereniging voor en door studenten.
                    Bij ons kan je ook terecht voor problemen met je lessen, extra informatie, ...
                    Hexion wil ook als studentenvereniging je Hasselt en
                    omstreken leren kennen zoals een echte student.
                </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>secundaire navigatie</h6>
                <ul class="footer-links">

                    {% if app.user %}
                        <li><a href="{{ path('profile')}}">Profiel: {{ app.user.naam }}</a></li>
                        {% if app.user.granted("ROLE_ADMIN") %}
                            <li><a href=" {{ path('showfuncties') }}">functie beheer</a></li>
                            <li><a href="{{ path('showUsers') }}">gebruikers beheer</a></li>
                            <li><a href="/">evenement beheer</a></li>
                        {% endif %}
                    {% else %}
                        <li><a href="{{ path('app_login') }}">login</a></li>
                        <li><a href="{{ path('app_register') }}">signin</a></li>
                    {% endif %}

                    <li><a href="#">Info</a></li>
                    <li><a href="#">Info</a></li>
                    <li><a href="{{ path('sponsors')}}">Sponsors</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="{{ path("main") }}">Studentenvereniging Hexion</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="https://www.facebook.com/studentenvereniging.hexion"><i class="fab fa-facebook"></i></a></li>
                    <li><a class="Insta" href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
