<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <div class="navbar-left logo">
               <img src="{{ asset('build/images/schild.png') }}" alt="Hexion schild">
            </div>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#portfolio">Info</a></li>
                <li><a href="#contact">Sponsors</a></li>
                {% if app.user %}
                    <li><a href="{{ path('app_logout')}}">{{ app.user.naam }}</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">login</a></li>
                    <li><a href="{{ path('app_register') }}">signin</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

